{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <!-- <script src="{% static 'frontend/offline/vue.js' %}"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="{% static 'frontend/js/index.js' %}"></script>
    <script src="{% static 'frontend/js/dashboard.js' %}"></script>
    <script src="{% static 'frontend/js/login.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">


</head>
<body class="w3-small" style="background-color: #CCEDD2; color: #655C56; background-image: linear-gradient(to right, #94D3AC, #CCEDD2)" >
    <!-- <body class="" style="background-color: #CCEDD2; color: ; " > -->
    
    <div class="container">
        <a href="{% url 'index' %}"><h1 class="w3-wide w3-left">smlr <span class="w3-small">smlr</span></h1></a>
        
     

        {% block content %}{% endblock %}
        <div >
            
    <div class="" style="width: 100%; color: #655C56;">
        <div class="w3-padding-64 "></div>
        <div class="w3-padding-64 "></div>
        <div class="w3-padding-64 "></div>
        <p>Created with ❤️ by <a href="https://olamide.netlify.com/" target="_blank"><u>Lams.</u></a></p>
        <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
    </div>

</body>
</html>